<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= renderData.siteName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body>
    <%- include('navbar', renderData); %>
    <div class="p-3 m-3">
    <h1><center>Stream keys for <%= renderData.siteName %></center></h1>
    </div>
    <div>
    <% var userStreams = renderData.admins.get(renderData.userid).streams;
       if (userStreams) { 
         var userStreamsSet = new Set(userStreams);%>
         <table class="table table-hover table-bordered">
           <thead>
             <tr>
               <th scope="col">Stream</th>
               <th scope="col">Streamer Info</th>
             </tr>
           </thead>
           <tbody>
         <% renderData.sendStreams.forEach(function(stream) {
           if (userStreamsSet.has(stream.name)) { %>
            <tr>
              <td><%= stream.title %></td>
              <td style="padding: 0;">
                <table class="table table-striped table-boardered" style="border: 1px solid black;">
                  <tr>
                    <td>RTMP Url</td>
                    <td><%= stream.rtmp %></td>
                  </tr>
                  <tr>
                    <td>RTMP Stream Key</td>
                    <td><%= stream.streamKey %></td>
                  </tr>
                  <tr>
                    <td>SRT Url</td>
                    <td><%= stream.srt %></td>
                  </tr>
                  <tr>
                    <td>WHIP Url</td>
                    <td><%= stream.whip %></td>
                  </tr>
                </table>
              </td>
            </tr>
        <% }
        }); %>
           </tbody>
        </table>
       <br>
       <div>For RTMP use the Url in the Server field and the Stream Key in the Stream Key field.<br>
        For SRT use the SRT Url in the server field and leave the Stream Key field blank.<br>
        For WHIP use the Url in the server field and leave the Bearer token blank.</div>
       <%} else { %>
       <p>You have no stream keys</p>
       <% } %>
       </div>


    <script src="/public/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>

