<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= renderData.siteName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/public/ovenplayer/ovenplayer.js"></script>
    <script src="/public/hls.js/hls.min.js"></script>
    <script src="/js/player.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/broadcastMapUpdates.js"></script>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        .wrapper {
            width: 320px;
            height: 240px;
            float: left;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .streamcontainer {
            clear:both;
        }
        .activestream {
            border: 1px solid black;
        }
    </style>
  </head>
  <body>
    <script>
        function switchStream(broadcast, stream) {
            fetch('/api/broadcast/' + broadcast + '/' + stream, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: null
            })
                .then(response => response.json())
                .then(data => console.log('Success:', data))
                .catch(error => console.error('Error:', error));

        }
    </script>
    <%- include('navbar', renderData); %>
    <div class="p-3 m-3">
    <h1><center>Switcher for <%= broadcast.title %></center></h1>
    </div>
    <div>
    <% var streams = broadcast.streams;
    streams.forEach( (stream) => {
        %>
        <div id="container_<%-'player' + stream%>" class="streamcontainer">
            <h2><%-renderData.viewStreams.get(stream).title%></h2>
            <div class="wrapper">
                <div id="<%-'player' + stream%>"></div>
            </div>
            <div class="wrapper center">
                <button id="button-<%-stream%>" type="button">Switch to <%-renderData.viewStreams.get(stream).title%></button>
            </div>
            <!-- this is a "clearfix" to handle the floated elements not being enclosed-->
            <div style="clear: both;"></div>
        </div>

        <script>
            var button = document.getElementById("button-<%-stream%>");
            button.addEventListener("click", async _ => {
                switchStream("<%= broadcast.name %>", "<%= stream %>");
            });
            var player = createOvenPlayer("<%-'player' + stream%>", 
                            <%- JSON.stringify(renderData.viewStreams.get(stream).thumbnailSources) %>,
                            true
            );
        </script>
    <%
    });
    %>
    <script>
        registerForBroadcastMapUpdates(function(newBroadcastMap) {
            console.log("in registerForBroadcastMapUpdates callback");
            console.log(newBroadcastMap);
            newBroadcastMap = new Map(Object.entries(newBroadcastMap));
            //mark which stream is currently active
            var broadcast = "<%-broadcast.key%>";
            var newStream = newBroadcastMap.get(broadcast);
            console.log('switching broadcast ' + broadcast + ' to stream ' + newStream);

            var elt;
            var strm;
            <% var streams = broadcast.streams;
                streams.forEach( (stream) => {
            %>
                strm = "<%-stream%>";
                elt = document.getElementById("container_player" + strm);
                if (newStream === strm) {
                    elt.classList.add("border", "border-success", "border-3");
                } else {
                    elt.classList.remove("border", "border-success", "border-3");
                }
            <%
            });
            %>

        });
    </script>
    <script src="/public/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>

